* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.guest-container {
  border: 1px solid green;
}

.align-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.url-input-form {
  width: 100%;
}
.url-input::placeholder {
  text-align: center;
}

.container-list {
  width: fit-content;
  text-align: start;
}
.container-list ul {
  list-style: none;
}
.container-list ul li {
  padding-left: 0.3rem;
}
.container-list ul li:before {
  content: "✓";
}

.btn-microfy {
  color: #fff;
  background-color: #db0944;
}
.btn-login {
  color: #fff;
  background-color: green;
  padding: 0.5rem 2rem;
}
.btn-sign-up {
  color: #fff;
  background-color: red;
  padding: 0.5rem 2rem;
}
